title = "{{title}}"
conformance = "Minimal"
paper_size = {width = 210, height = 297}

[decorator]
type = "SimplePageDecorator"
margins = { top = 10, right = 10, bottom = 10, left = 10 }

{% block header_info %}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{title}}"
style = {font_size = 13, bold = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock header_info %}

{% block header_table %}
[[body.element]]
type = "TableLayout"
weight = [18, 2, 80]
padding = {top = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Account"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{account}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Branch"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{branch}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "As On Date"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{asOnDate}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Generated On"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{generatedOn}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Closing Balance"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{closing}}"
style = {shrink = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1, bottom = 1}
[body.element.element]
type="BlankLine"
{% endblock header_table %}

{% block records_head %}
[[body.element]]
type = "TableLayout"
weight = [46, 18, 18, 18]
padding = {top = 1, bottom = 2}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {left = 1}
[[body.element.row.element.content]]
value = "Particulars"
[[body.element.row.element]]
type = "Text"
padding = {right = 1}
[[body.element.row.element.content]]
value = "Debit"
[[body.element.row.element]]
type = "Text"
padding = {right = 1}
[[body.element.row.element.content]]
value = "Credit"
[[body.element.row.element]]
type = "Text"
padding = {right = 1}
alignment="Right"
[[body.element.row.element.content]]
value = "Balance"

[[body.element]]
type = "PaddedElement"
padding = {top = 1, bottom = 1}
[body.element.element]
type="BlankLine"
{% endblock records_head %}


