title = "{{title}}"
conformance = "Minimal"
paper_size = {width = 210, height = 297}

[decorator]
type = "SimplePageDecorator"
margins = { top = 10, right = 10, bottom = 10, left = 10 }

{% block headerinfo %}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{address}}"
style = {font_size = 12}

[[body.element]]
type = "Text"
alignment="Center"
padding = {top = 1}
[[body.element.content]]
value="{{title}}"
style = {font_size = 13, bold = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
element = {type = "BlankLine"}

{% endblock headerinfo %}

{% block header_table %}
[[body.element]]
type = "TableLayout"
weight = [18, 2, 80]
padding = {top = 1}
text_style={ bold=true, font_size=12, line_spacing=20}

[[body.element.row]]
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value="Branch"
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value=" : "
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value="{{branches}}"

[[body.element.row]]
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value="Inventory"
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value=" : "
[[body.element.row.element]]
type="Text"
padding = {top = 1}
[[body.element.row.element.content]]
value="{{inventory}}"

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
element = {type = "BlankLine"}
{% endblock header_table %}

{% block records_head %}
[[body.element]]
type = "TableLayout"
weight = [16, 12, 14, 14, 14, 14, 14, 16]
padding = { top = 1, bottom = 1 }
text_style={ bold=true, font_size=12 }

[[body.element.row]]

[[body.element.row.element]]
type="Text"
[[body.element.row.element.content]]
value="BatchNo"

[[body.element.row.element]]
type="Text"
[[body.element.row.element.content]]
value=" Exp.Date"

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="Stock"

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="P.Rate"

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="MRP"

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="S.Rate"

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="Value"

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
element = {type = "BlankLine"}

{% endblock records_head %}

{% block records_body%}
[[body.element]]
type = "TableLayout"
weight = [16, 12, 14, 14, 14, 14, 16]
padding = { top = 1, bottom = 1 }
text_style={ font_size=11 }
[body.element.cell_decorator]
type = "SimpleCellDecorator"
inner = true
outer = true
cont = true
[body.element.cell_decorator.line_style]
thickness = 0.1
color = {greyscale = 127}

{% for record in records %}
[[body.element.row]]

[[body.element.row.element]]
type="Text"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.batchNo}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.expiry}}"

[[body.element.row.element]]
type="Text"
alignment="Right"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.closing}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
alignment="Right"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.pRate}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
alignment="Right"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.mrp}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
alignment="Right"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.sRate}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
alignment="Right"
padding = {top = 1, right = 1, bottom = 1, left = 1}
[[body.element.row.element.content]]
value="{{record.value}}"
style = { shrink = true }

{% endfor %}
{% endblock records_body%}

{% block footer%}
[[body.element]]
type = "PaddedElement"
padding = {top = 1}
element = {type = "BlankLine"}

[[body.element]]
type = "TableLayout"
weight = [50,50]
padding = { top = 1, bottom = 1 }
text_style={ bold=true, font_size=12 }

[[body.element.row]]

[[body.element.row.element]]
type="Text"
[[body.element.row.element.content]]
value="Total Stock : {{closing}}"
style = { shrink = true }

[[body.element.row.element]]
type="Text"
alignment="Right"
[[body.element.row.element.content]]
value="Total Value :  Rs.{{value}}"
style = { shrink = true }

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
element = {type = "BlankLine"}
{% endblock footer%}