title = "{{title}}"
conformance = "Minimal"
paper_size = {width = 210, height = 297}

[decorator]
type = "SimplePageDecorator"
margins = { top = 10, right = 10, bottom = 10, left = 10 }

{% block header_info %}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{address}}"
style = {font_size = 12}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{title}}"
style = {font_size = 13}

[[body.element]]
type = "Text"
alignment = "Center"
padding = {bottom = 2}
[[body.element.content]]
value="{{fromDate}} to {{toDate}}"
style = {font_size= 11, bold= true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock header_info %}

{% block header_table %}
[[body.element]]
type = "TableLayout"
weight = [18, 2, 80]
padding = {top = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Branch"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{branch}}"

[[body.element]]
type = "TableLayout"
weight = [18, 2, 80]
padding = {top = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Inventory"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{inventory}}"

[[body.element]]
type = "TableLayout"
weight = [18, 2, 45, 18, 2, 15]
padding = {top = 1, bottom = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Opening Stock"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "{{balance.opening}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = "Closing Stock"
[[body.element.row.element]]
type = "Text"
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
alignment="Right"
[[body.element.row.element.content]]
value = "{{balance.closing}}"
style = {shrink = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1, bottom = 1}
[body.element.element]
type="BlankLine"
{% endblock header_table %}

{% block records_head %}
[[body.element]]
type = "TableLayout"
weight = [12, 24, 20, 20, 12, 12]
padding = {top = 1, bottom = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
[[body.element.row.element.content]]
value = "Date"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
[[body.element.row.element.content]]
value = "Particulars"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
[[body.element.row.element.content]]
value = "Voucher Type"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
[[body.element.row.element.content]]
value = "Ref No"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
[[body.element.row.element.content]]
value = "Inward"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, bottom = 1}
alignment="Right"
[[body.element.row.element.content]]
value = "Outward"

[[body.element]]
type = "PaddedElement"
padding = {top = 1, bottom = 1}
[body.element.element]
type="BlankLine"
{% endblock records_head %}

{% block records_body%}
[[body.element]]
type = "TableLayout"
weight = [12, 24, 20, 20, 12, 12]
text_style = {font_size = 11}
padding = {top = 1, bottom = 1}

[body.element.cell_decorator]
type = "SimpleCellDecorator"
inner = true
outer = true
[body.element.cell_decorator.line_style]
thickness = 0.1
color = {greyscale = 127}

{% for record in records %}
[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.date}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.particulars}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.voucherType}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.refNo}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.inward}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.outward}}"
style = {shrink = true}

{% endfor %} 
{% endblock records_body%}

{% block footer%}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"

[[body.element]]
type = "TableLayout"
weight = [50, 50]
padding = {top = 1, bottom = 1}
text_style = {bold = true, font_size = 12}
[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top =1}
[[body.element.row.element.content]]
value = "Total Inward:  {{balance.inward}}"
style = {shrink = true}

[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1}
[[body.element.row.element.content]]
value = "Total Outward:  {{balance.outward}}"
style = {shrink = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock footer%}
