title = "{{title}}"
conformance = "Minimal"
paper_size = {width = 210, height = 297}

[decorator]
type = "SimplePageDecorator"
margins = { top = 10, right = 10, bottom = 10, left = 10 }

{% block header_info %}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{address}}"
style = {font_size = 12}

[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{title}}"
style = {font_size = 13, bold = true}

[[body.element]]
type = "Text"
alignment = "Center"
padding = {bottom = 2}
[[body.element.content]]
value="As On Date: {{asOnDate}}"
style = {font_size= 11, bold= true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock header_info %}

{% block header_table %}
[[body.element]]
type = "TableLayout"
weight = [28, 2, 70]
padding = {top = 1}
text_style = {bold = true, font_size = 12, line_spacing = 1.5}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Branch"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{branch}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Inventory"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{inventory}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Manufacturer"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{manufacturer}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Section"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{section}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Groupby"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{groupBy}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Stock value calculated by"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{basedOn}}"

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "Generated On"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = ":"
[[body.element.row.element]]
type = "Text"
padding = {top = 1}
[[body.element.row.element.content]]
value = "{{generatedOn}}"

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock header_table %}


{% block records_head %}
[[body.element]]
type = "TableLayout"
weight = [10, 50, 20, 20]
padding = {top = 1, bottom = 1}
text_style = {bold = true, font_size = 12}

[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top = 1, left = 1}
[[body.element.row.element.content]]
value = "Sl.No"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, left = 1}
[[body.element.row.element.content]]
value = "{{groupBy}}"
[[body.element.row.element]]
type = "Text"
alignment="Right"
padding = {top = 1, right = 1}
[[body.element.row.element.content]]
value = "Stock"
[[body.element.row.element]]
type = "Text"
padding = {top = 1, right = 1}
alignment="Right"
[[body.element.row.element.content]]
value = "Value"

[[body.element]]
type = "PaddedElement"
padding = {top = 1, bottom = 1}
[body.element.element]
type="BlankLine"
{% endblock records_head %}
 
{% block records_body%}
[[body.element]]
type = "TableLayout"
weight = [10, 50, 20, 20]
text_style = {font_size = 11}
padding = {top = 1, bottom = 1}

[body.element.cell_decorator]
type = "SimpleCellDecorator"
inner = true
outer = true
[body.element.cell_decorator.line_style]
thickness = 0.1
color = {greyscale = 127}

{% for record in records %}
[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{loop.index}}"
[[body.element.row.element]]
type = "Text"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.name}}"
[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.closing}}"
style = {shrink = true}
[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1, right =1, bottom =1, left =1}
[[body.element.row.element.content]]
value = "{{record.value}}"
style = {shrink = true}

{% endfor %} 
{% endblock records_body%}

{% block footer%}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"

[[body.element]]
type = "TableLayout"
weight = [50, 50]
padding = {top = 1, bottom = 1}
text_style = {bold = true, font_size = 12}
[[body.element.row]]
[[body.element.row.element]]
type = "Text"
padding = {top =1}
[[body.element.row.element.content]]
value = "Total Stock:  {{closing}}"
style = {shrink = true}

[[body.element.row.element]]
type = "Text"
alignment = "Right"
padding = {top =1}
[[body.element.row.element.content]]
value = "Total Value:  Rs.{{value}}"
style = {shrink = true}

[[body.element]]
type = "PaddedElement"
padding = {top = 1}
[body.element.element]
type="BlankLine"
{% endblock footer%}
