title = "{{title}}"
conformance = "Minimal"
paper_size = {width = 210, height = 297}

[decorator]
type = "SimplePageDecorator"
margins = { top = 10, right = 10, bottom = 10, left = 10 }

{% block header_info %}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}
[[body.element]]
type = "Text"
alignment="Center"
[[body.element.content]]
value="{{organization}}"
style = {font_size = 17, bold = true}
{% endblock header_info %}